{{#partial "title"}}
    Change
{{/partial}}

{{#partial "content"}}
    <h1>Your Change:</h1>
    <hr>
    <p> {{ result }}</p>
    <hr>
    <a href="/">return to form</a>
{{/partial}}

{{> layout.hbs}}